{% extends "dashboard/ui/base.html" %}

{% load widget_tweaks %}

{# Main Content #}
{% block content %}
<div class="login-box">
  <div class="login-logo">
    <b>Alba</b>tross
  </div>
  <!-- /.login-logo -->

  <div class="login-box-body">

    <form action="/login/" method="post">
      {% if form.errors %}
        <p class="text-center">
            <i class="fa fa-fw fa-warning"></i> Please enter a valid username and password
        </p>
      {% elif request.GET.next %}
        <p class="text-center">
          <i class="fa fa-fw fa-warning"></i> You must be logged in to view this page
        </p>
      {% elif request.GET.bye %}
        <p class="text-center">
          <i class="fa fa-fw fa-check"></i> You have successfully logged out
        </p>
      {% endif %}

      <div class="form-group has-feedback {% if form.errors %}has-error{% endif %}">
          {% render_field form.username placeholder='Username' class="form-control" %}
      </div>
      <div class="form-group has-feedback {% if form.errors %}has-error{% endif %}">
        {% render_field form.password placeholder='Password' class="form-control" %}
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          {% with request.GET.next|default:"/" as next_def %}
            {% render_field form.next_page value=next_def %}
          {% endwith %}
          {% csrf_token %}
          <button type="submit" class="btn btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}

{# Meta #}
{% block pageTitle %} {{ pageTitle|default:"Login" }} {% endblock %}
{% block bodyClass %} hold-transition login-page {% endblock %}